encryption: gpg
gpg:
  recipient: andres@quantium.com.mx
  symmetric: true
pinentry:
{{- if eq .chezmoi.os "darwin" }}
  command: pinentry-mac
{{- else if eq .chezmoi.os "linux" }}
  command: pinentry-mac
{{-  end}}
git:
  autoPush: true
  autoCommit: true  
edit:
  command: nvim
merge:
  command: nvim
data:
  name: Andrés González Aragón
  user: quantium
  email: andres@quantium.com.mx
  gmail: andres@quantium.com.mx
